* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border {
    border: 1px solid #000000;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-right {
    margin-right: 5px;
}

body {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(images/background.gif);
}

.container {
    width: 350px;
    padding: 25px 0;
    flex-direction: column;
    background-color: #f0f0f0;
}

form {
    position: relative;
    width: 80%;
    margin: 10px 0 5px 0;
}

#inputTxt {
    width: 100%;
    padding: 10px;
    outline: none;
}

#inputTxt::placeholder {
    font-size: 16px;
}

#inputTxt:focus {
    border: 2px solid #000000;
    background-color: #f5f5f5;
}

#searchBtn {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    outline: none;
    background: transparent;
}

section {
    flex-direction: column;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
}

section img {
    width: 100px;
}

section p {
    font-size: 18px;
    text-transform: capitalize;
}

.div {
    font-size: 18px;
}

.bx {
    font-size: 18px;
    font-weight: 500;
}