body{
  background-image: url('file:///C:/Users/Vivek%20Sahu/OneDrive/Desktop/WEB%20DEVELOPMENT/TinDog-Start-master/popular_categories/image/b_texture.png');
  text-align: center;
  padding: 1% 15%;
}
.card-link{
  font-weight: bold;
}
.goldproducts-col{
  padding-bottom:  3rem;
}
.list-group-item{
  color: black;
  font-weight: bold;
}
  h1{
    padding: 3rem 2rem 3rem 0;
    color: red;
}
