h1 {
  color: black;
}
h1 a {
  color: whitesmoke;
}
h2 a:hover {
  color: salmon;
}
.chess:hover {
  border-radius: 100px;
  box-shadow: shadow 5px 10px salmon;
}
.matein1:hover {
  border-radius: 50px;
  box-shadow: 5px 10px rgb(139, 46, 46);
  -webkit-box-shadow: 4px 5px 51px 1px rgba(0, 11, 222, 0.82);
  -moz-box-shadow: 4px 5px 51px 1px rgba(0, 11, 222, 0.82);
  box-shadow: 4px 5px 51px 1px rgba(211, 222, 0, 0.82);
}
ul {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Eater&display=swap");
body {
  font-family: "Eater", cursive;
  font-family: fantasy;
  max-width: 200px;
  margin: auto;
  background-image: url(https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JhZGllbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
}
