*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.sky{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.trees{
    height: 100vh;
    width: 100%;
    background-image: url("trees.png");
    background-size: cover;
    top: -100px;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}
.track{
    height: 20vh;
    width: 800vw;
    background-image: url("track.png");
    /* background-size: cover; */
    position: absolute;
    top: 85vh;
    background-repeat: repeat-x;
    animation-name: carMove;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}
.car{
    height: 100px;
    width: 380px;
    background-image: url("car_body.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 3px;
    left: 500px;
    bottom: 105px;
    animation-name: shake;
    animation-duration:0.9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.wheel{

}

#wheel1 img{
width: 75px;
position: relative;
top: 35px;
left:41px;
animation-name: wheelRotation;
animation-duration: 0.6s;
animation-iteration-count: infinite;
animation-timing-function:linear;
}
#wheel2 img{
    width: 75px;
    width: 77px;
    position: relative;
    top: -38px;
    left:236px;
    animation-name: wheelRotation;
animation-duration: 0.6s;
animation-iteration-count: infinite;
animation-timing-function:linear;
}
@keyframes wheelRotation{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes carMove{
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes shake{
    0%{
   transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}